<header>
    <nav>
        <a href="/">
        <img src="/img/logo.jpg" alt="">
        </a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Treks</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="header-title">
        <h1>It's time to start your adventures</h1>
        <p>Integer blandit libero sit amet massa interdum fermentum</p>
        <p>Veniam, facilis.</p>
        <button>MORE INFO</button>
    </section>
</header>