.body-info-page {
    /*background: rgba(76, 175, 80, 0.8);*/
    background-image: url('/images/cute.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

nav {
    position: sticky;
    top: 0;
    padding: 2rem 6rem;
    background: #556b2fa6;
    z-index: 1;
}

.content {
    margin: 1% 1%;
    display: flex;
    padding: 0 5em;
}

.content-text {
    background: hsl(89.25deg 63.45% 40.32%);
    margin: 0 1%;
    padding: 1% 3%;
    border: 0 solid #4f6c2e;
    border-radius: 15px;
    opacity: 83%;
    /*background: hsl(76.82deg 84% 29.48%);*/
    /*margin: 0 1%;*/
    /*padding: 1% 3%;*/
    /*border: 0 solid #4f6c2e;*/
    /*border-radius: 15px;*/
    /*opacity: 88%;*/
}

.text {
    font-size: 22px;
    line-height: 1.2em;

    /*font-size: larger;*/
    font-weight: 600;
    color: black;
    margin-bottom: 3%;
}