.heading {
    margin-bottom: 3%;
}

.profile-content {
    justify-content: space-evenly;
}
.content-left {
    width: 20%;
}

.content-right {
    width: 70%;
    height: 380px;
    overflow: auto;
}

h3 {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: darkgreen;
    margin-bottom: 5%;
}

.table-content {
    width: 98%;
}

.expired {
    margin-top: 5%;
}

.table-header {
    width: 21%;
}

.table-info {
    width: 17%;
    line-height: 39px;
    text-align: -webkit-center;
    border: 1px solid darkgrey;
}

.heading-expired {
    color: darkred;
    margin-top: 5%;
}

tbody {
    letter-spacing: normal;
    color: black;
 }

.table-summary {
    margin-top: 2%;
    text-align: center;
    display: block;
    font-size: 16px;
    color: rgb(68 68 70);
}

tr:nth-child(even) {
    background-color: darkkhaki;
}
 tr:nth-child(odd) {
     background-color: aliceblue;
 }


tr {
    line-height: 35px;
}

td {
    text-align: center;
    padding-top: 1%;
    border: 1px solid darkgrey;
}

.requirements {
    font-size: 14px;
    width: 22%;
}


