<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/book-now.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>CozyPetsHotel</title>
</head>

<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<div class="buttons">
    <a class="show users" th:href="@{/admin}">All users</a>
    <a class="show bookings" th:href="@{/bookings/all}">All bookings</a>
</div>
<div class="table-responsive m-5" sec:authorize="hasRole('ADMIN')">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="align-middle" scope="col">User id</th>
            <th class="align-middle" scope="col">Username</th>
            <th class="align-middle" scope="col">Email</th>
            <th class="align-middle" scope="col">First name</th>
            <th class="align-middle" scope="col">Last name</th>
            <th class="align-middle" scope="col">isActive</th>
            <th class="align-middle" scope="col">Role</th>
            <th class="align-middle" scope="col">Promote</th>
            <th class="align-middle" scope="col">Deactivate</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="user : ${allUsers}" th:action="@{/admin/users/all}">
            <td class="align-middle col-md-auto" th:text="${user.uuid}">User id</td>
            <td class="align-middle col-md-auto" th:text="${user.username}">Username</td>
            <td class="align-middle col-md-3" th:text="${user.email}">User email</td>
            <td class="align-middle col-md-auto" th:text="${user.firstName}">User first name</td>
            <td class="align-middle col-md-auto" th:text="${user.lastName}">User last name</td>
            <td class="align-middle col-md-auto" th:text="${user.isActive}">Is active</td>
            <td class="align-middle col-md-auto">
                <small th:each="role : ${user.roles}">
                    <small th:text="${role.role.name()}"></small>
                </small>
            </td>
            <td class="align-middle col-md-auto" th:if="${user.roles.size() == 1}">
                <form th:method="post"
                      th:action="@{/admin/users/promote/{email}(email=${user.email})}">
                    <input type="submit" value="Promote" class="btn btn-outline-success">
                </form>
            </td>
            <td class="align-middle col-md-auto" th:if="${user.roles.size()} == 2">
                <form th:method="post"
                      th:action="@{/admin/users/demote/{email}(email=${user.email})}">
                    <input type="submit" value="Demote" class="btn btn-outline-warning">
                </form>
            <td class="align-middle col-md-auto" th:if="${user.isActive()}">
                <form th:method="post"
                      th:action="@{/admin/users/deactivate/{email}(email=${user.email})}">
                    <input type="submit" value="Deactivate user" class="btn btn-outline-danger">
                </form>
            </td>
            <td class="align-middle col-md-auto" th:unless="${user.isActive()}">
                <form th:method="patch"
                      th:action="@{/admin/users/activate/{email}(email=${user.email})}">
                    <input type="submit" value="Activate user" class="btn btn-outline-success">
                </form>
            </td>
            <td class="align-middle col-md-auto">
                <form th:method="delete"
                      th:action="@{/admin/users/delete/{email}(email=${user.email})}">
                    <input sec:authorize="hasRole('ADMIN')"
                           type="submit"
                           id="danger"
                           class="btn btn-outline-success"
                           value="Delete user"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <th:block th:replace="~{fragments/footer::footer}"></th:block>
</footer>

</body>
</html>