<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/book-now.css">
    <title>CozyPetsHotel</title>
</head>

<body>
<nav th:replace="~{/fragments/navbar}"></nav>

<div class="container mt-5">
    <h1 class="text-center">Админ панел</h1>

    <form th:action="@{/admin}"
          th:method="post">
        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" th:placeholder="Търсене по имейл"
                   aria-label="Търсене по имейл" aria-describedby="button-search">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">
                Търси
            </button>
        </div>
    </form>

    <div>
<!--        <h2 th:if="${param.email != null}" class="mb-3">Резултати от търсенето:</h2>-->
<!--        <h2 th:if="${param.email == null}" class="mb-3">Списък с всички потребители:</h2>-->
        <div class="table-responsive">
            <table class="admin-table table-striped">
                <thead>
                <tr>
                    <th>Име</th>
                    <th>Имейл</th>
                    <th>Роли</th>
                    <th>Промяна на статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
<!--                <tbody>-->
<!--                <span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>-->
<!--                <span th:if="${successMessage}" class="text-success" th:text="${successMessage}"></span>-->
<!--                <tr th:each="user : ${users}">-->
<!--                    <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>-->
<!--                    <td th:text="${user.email}"></td>-->
<!--                    <td>-->
<!--                        <span th:each="role : ${user.roles}" th:text="${role}+' '"></span>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <form th:action="@{/admin/users/{userId}/disable(userId=${user.id})}" method="post">-->
<!--                            <button type="submit"-->
<!--                                    class="btn btn-danger"-->
<!--                                    th:disabled="${!user.isActive}">-->
<!--                                Деактивирай-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <form th:action="@{/admin/users/{userId}/enable(userId=${user.id})}" method="post">-->
<!--                            <button type="submit"-->
<!--                                    class="btn btn-success"-->
<!--                                    th:disabled="${user.isActive}">-->
<!--                                Активирай-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <form th:action="@{/admin/users/{userId}/roles(userId=${user.id})}" th:method="post">-->
<!--                            <select name="role">-->
<!--                                <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role.role}"-->
<!--                                        th:unless="${user.roles.contains(role)}"></option>-->
<!--                            </select>-->
<!--                            <button type="submit"-->
<!--                                    class="btn btn-success">-->
<!--                                Добави роля-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <form th:action="@{/admin/users/{userId}/remove-role(userId=${user.id})}" th:method="post">-->
<!--                            <select name="role">-->
<!--                                <option th:each="role : ${user.roles}" th:value="${role}" th:text="${role}"></option>-->
<!--                            </select>-->
<!--                            <button type="submit"-->
<!--                                    class="btn btn-danger">-->
<!--                                Отнеми роля-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
            </table>
        </div>
    </div>
</div>
<footer>
    <th:block th:replace="~{fragments/footer::footer}"></th:block>
</footer>
<div class="scroll-to-top" id="scrollToTop">
    <i class="fas fa-arrow-up"></i>
</div>

</body>
</html>