<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/book-now.css">
    <title>CozyPetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<main>
    <section class="reservation">
        <h3>RESERVATION FORM:</h3>
        <form class="data"
              th:action="@{/book-now}"
              th:method="post"
              th:object="${bookingModel}">
            <div class="form-position">
                <div class="details">
                    <label th:for="firstName" class="text-white font-weight-bold">First name: </label>
                    <input required
                           placeholder="First name"
                           type="text"
                           class="form-control"
                           th:field="*{firstName}"
                           th:errorclass="is-invalid"
                           th:value="*{firstName}"/>
                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('firstName')}"
                             th:text="${err}">
                        </div>
                    </div>
                </div>
                <div class="details">
                    <label th:for="LastName" class="text-white font-weight-bold">Last name: </label>
                    <input required
                           placeholder="Last name"
                           type="text"
                           class="form-control"
                           th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           th:value="*{lastName}"/>
                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('lastName')}"
                             th:text="${err}">
                        </div>
                    </div>
                </div>

                <div class="details">
                    <label th:for="email">Email: </label>
                    <input required
                           type="text"
                           class="form-control"
                           th:field="*{email}"
                           th:errorclass="is-invalid"
                           th:value="*{email}"/>
                    <!--                           placeholder="Email"-->
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('email')}"
                             th:text="${err}">
                        </div>
                    </small>
                </div>
                <div class="details">
                    <label th:for="contactNumber" class="text-white font-weight-bold">Contact number: </label>
                    <input required
                           placeholder="Contact number"
                           type="text"
                           class="form-control"
                           th:value="${bookingModel.contactNumber}"
                           th:field="*{contactNumber}"
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('contactNumber')}"
                             th:text="${err}">
                        </div>
                    </small>
                </div>

                <div class="details">
                    <label th:for="checkIn">Check-in</label>
                    <input type="date"
                           class="form-control"
                           placeholder="dd-MM-yyyy"
                           min="01-01-2025"
                           max="31-12-2030"
                           aria-required="true"
                           aria-invalid="false"
                           value=""
                           th:field="*{checkIn}"
                           th:errorclass="is-invalid">
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('checkIn')}"
                             th:text="${err}">
                        </div>
                    </small>
                </div>
                <div class="details">
                    <label th:for="checkOut">Check-out</label>
                    <input type="date"
                           class="form-control"
                           aria-describedby="createdHelpInline"
                           th:field="*{checkOut}"
                           th:errorclass="is-invalid">
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('checkOut')}"
                             th:text="${err}">Created date cannot be in the past!
                        </div>
                    </small>
                </div>
            </div>

            <div class="petsInfo">
                <div class="tfs-row">
                    <label>I am looking for service for my</label>
                    <span class="form-control-wrap" data-name="Pets">
                      <span class="pcf7-form-control pcf7-checkbox">
                        <span class="pcf7-list-item first last">
                            <label>
                            <input type="checkbox"
                                   value="dog"
                                   th:field="*{petType}"
                                   th:errorclass="is-invalid">
                                   <small th:errors="*{petType}"
                                          class="invalid-feedback errors alert alert-danger">

                                   </small>
                                <span class="pcf7-list-item-label">Dog</span>
                            </label>
                        </span>

                </span>
                    <img class="petImage"
                         decoding="async"
                         src="/images/bookingForm/dog.png"
                         alt="dog">
                    </span>

                    <span class="form-control-wrap" data-name="Pets">
                    <span class="pcf7-form-control pcf7-checkbox">
                        <span class="pcf7-list-item first last">
                            <label>
                                <input type="checkbox"
                                       value="cat"
                                       th:field="*{petType}"
                                       th:errorclass="is-invalid">
                                   <small th:errors="*{petType}"
                                          class="invalid-feedback errors alert alert-danger">
                                   </small>
                                <span class="pcf7-list-item-label">Cat</span>
                            </label>
                        </span>
                    </span>
                </span>
                    <img class="petImage"
                         decoding="async"
                         src="/images/bookingForm/cat.png"
                         alt="cat">
                    <span class="form-control-wrap" data-name="Pets">
                    <span class="pcf7-form-control pcf7-checkbox">
                        <span class="pcf7-list-item first last">
                            <label>
                                <input type="checkbox"
                                       value="otherPet"
                                       th:field="*{petType}"
                                       th:errorclass="is-invalid">
                                   <small th:errors="*{petType}" class="invalid-feedback errors alert alert-danger">
                                   </small>
                                <span class="pcf7-list-item-label">Other pets</span>
                </label>
                </span>
                </span>
                </span>
                    <img class="petImage" decoding="async"
                         src="/images/bookingForm/bird.png"
                         alt="bird">
                </div>

                <div class="petsData">
                    <div class="tfs-col tfs-col-12 tfs-col-md-4 tfs-col-lg-4">
                        <label>Number of pets?</label>
                        <span class="pcf7-form-control-wrap" data-name="NumberOfPets">
                        <select class="option"
                                aria-required="true"
                                aria-invalid="false"
                                th:field="*{numberOfPets}"
                                th:errorclass="is-invalid">
                                   <small th:errors="*{numberOfPets}"
                                          class="invalid-feedback errors alert alert-danger">
                                   </small>
                            <option th:value="1">1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="4">5</option>
                    </select>
                    </span>
                    </div>
                    <div class="tfs-col tfs-col-12 tfs-col-md-4 tfs-col-lg-4">
                        <label>Name of your pet?</label>
                        <span class="pcf7-form-control-wrap" data-name="yourPetsName">
                            <input size="40" maxlength="400"
                                   class="pcf7-form-control pcf7-text"
                                   aria-invalid="false"
                                   placeholder="Enter your pet name"
                                   value=""
                                   type="text"
                                   th:field="*{petName}"
                                   th:errorclass="is-invalid">
                                   <small th:errors="*{petName}"
                                          class="invalid-feedback errors alert alert-danger">
                                   </small>
                        </span>
                    </div>
                    <div class="tfs-col tfs-col-12 tfs-col-md-4 tfs-col-lg-4">
                        <label>What breed is your pet?</label>
                        <span class="pcf7-form-control-wrap" data-name="WhatBreedIsYourPet">
                            <input size="40"
                                   maxlength="400"
                                   class="pcf7-form-control pcf7-text pcf7-validates-as-required"
                                   aria-required="true"
                                   aria-invalid="false"
                                   placeholder="The breed of your pet"
                                   value=""
                                   type="text"
                                   th:field="*{breed}"
                                   th:errorclass="is-invalid">
                                   <small th:errors="*{breed}"
                                          class="invalid-feedback errors alert alert-danger">
                                   </small>
                        </span>
                    </div>
                </div>
                <div class="text-area">
                    <label class="additional-info">Additional information about your pet</label>
                    <span class="pcf7-form-control-wrap" data-name="message">
                    <textarea cols="40"
                              rows="10"
                              maxlength="2000"
                              class="pcf7-form-control pcf7-textarea"
                              aria-invalid="false"
                              placeholder="Enter additional information"
                              th:field="*{additionalInformation}"
                              th:errorclass="is-invalid">
                                   <small th:errors="*{additionalInformation}"
                                          class="invalid-feedback errors alert alert-danger">
                                   </small>
                    </textarea>
                </span>
                </div>

                <p class="terms">By continuing, you agree to Cozy Pets Hotel
                    <a href="https://cozypetsboutiquehotel.co.uk/terms-and-conditions/"> Terms and conditions</a> and
                    <a href="https://cozypetsboutiquehotel.co.uk/privacy-policy/"> Privacy Policy</a>
                </p>
            </div>
            <input class="bookingButton" type="submit" value="Submit">
        </form>
    </section>

    <div class="et_pb_bottom_inside_divider" style=""></div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>