<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found...</title>
  <th:block th:insert="~{fragments/head}"/>
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<section class="container" style="text-align: center">
  <h1 class="align-content-lg-center" style="color: #fff3cd">Ooops...Something went wrong! </h1>
  <h2 class="align-content-lg-center" style="color: #fff3cd">Page Not Found!</h2>
  <a class="align-content-lg-center" style="color: aqua; font-size: large;" href="/">Go to Home page</a>
</section>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>