<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/error.css">
  <title>CozyPetsHotel</title>
</head>
<body>
<main>
<section class="not-found" style="text-align: center">
  <h1 class="not-found_header">Ooops...Something went wrong! </h1>
  <p class="not-found_description">We couldn't find the page that you are looking for</p>
  <a class="align-content-lg-center" href="/user/bookings">Go to your account</a>
</section>
</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>