<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>PetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<section class="gallery">
    <ul class="gallery-list">
        <li>
            <img class="gallery-picture" src="/images/gallery/welcome.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/2def4668720ca10fd596dd36a6d2f063.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/5c4a06400aa8e513cbe2fa537cd62e51.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/7f22f789535e4339ab53f00285ee01a5.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/roomService.webp" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/717e06c94846f8eb69961036db5cc8cd.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/d7c7de6afb2d7e484e223d96bb409a46.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/playingTime/gretJump.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/birthday.webp" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/2cac563b79527b1f5596eda83ee75703.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/fitness.png" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/b861e40f63091fb24eed32bb5a2490b4.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/friends.png" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/run-togather.webp" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/kitty.green66--2.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/myPet.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/cozy.jpg" alt="">
        </li>
        <li>
            <img class="gallery-picture" src="/images/gallery/img.png" alt="">
        </li>
    </ul>
</section>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>