<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>PetsHotel</title>
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar}"></nav>
    <section class="header-title">
        <h1>It's time to start your adventures</h1>
        <p>Welcome to Cozy Pets Boutique Hotel!</p>
        <p>Enjoy your holidays while your pets are with us.</p>
        <a class="info" href="/info">MORE INFO</a>
    </section>
</header>
<main>
    <section class="team-description">
        <h3>OUR FABULOUS TEAM</h3>
        <div class="team-description-wrapper">
            <article class="team-list">
                <img src="/images/team/Omar-Trainner.jpg" alt="person">
                <h4>Omar</h4>
                <p>Trainner</p>
            </article>
            <article class="team-list">
                <img src="/images/team/Dr.Bardeau.jpg" alt="person">
                <h4>Dr.Badeau’s</h4>
                <p>Preventative care, internal medicine, and dermatology.</p>
            </article>
            <article class="team-list">
                <img src="/images/team/Samuel.jpg" alt="person">
                <h4>Samuel</h4>
                <p>Kennel Technician
                    & Weekend Caretaker</p>
            </article>
            <article class="team-list">
                <img src="/images/team/Stephanie-Veterinary-Technician.jpg" alt="person">
                <h4>Stephanie</h4>
                <p>Trainner</p>
            </article>
            <article class="team-list">
                <img src="/images/team/Mary-Liz-Kennel-Technician.jpg" alt="person">
                <h4>Mary-Liz</h4>
                <p>Veterinary-Technician</p>
            </article>
            <article class="team-list">
                <img src="/images/team/Lesly-Receptionist.jpg" alt="person">
                <h4>Lesly</h4>
                <p>Receptionist</p>
            </article>
        </div>
    </section>
    <section id="about" class="about-us">
        <h3>ABOUT US</h3>
        <h5>We make our hotel a special place for your pet</h5>
        <p>Cozy Pets Boutique Hotel is a family-run business.Our mission is to deliver the highest hotel experience for
            your pet while you enjoy your time off.Each team member at Cozy Pet Boutique Hotel pledges to uphold our
            core values:
            Communication, Consistency, Empathy, Safety, working together for pets and commitment to quality of care to
            ensure exceptional experiences for each pet, each person, each day.</p>
    </section>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>
