<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>CozyPetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<main>
    <div class="content">
        <form class="info-data"
              th:action="@{/login}"
              th:method="post">
            <div class="content-left">
                <h3>Enter your details below: <br><br></h3>
                <div th:if="${disabled}" class="alert text-danger">
                    <p th:text="${disabled}"></p>
                </div>
                <div th:if="${loginError}" class="alert text-danger">
                    <small th:text="${loginError}"></small>
                </div>
                <div class="group">
                    <label for="email" class="text-white font-weight-bold">Email: </label>
                    <input required
                           id="email"
                           name="email"
                           class="form-control"
                           type="text"
                           placeholder="Email address">
                </div>
                <div class="group">
                    <label for="password" class="text-white font-weight-bold">Password: </label>
                    <input required
                           id="password"
                           name="password"
                           class="form-control"
                           type="password"
                           placeholder="Password"/>
                </div>
                <div class="button">
                    <button type="submit" class="submit-info" value="Sign In">Sign In</button>
                </div>
            </div>
            <div class="content-right">
                <img src="/images/playing-cats.jpg" alt="cats picture">
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>