<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/home.css">
  <title>CozyPetsHotel</title>
</head>
<body>

<aside>
  <section class="profile">
    
  </section>
</aside>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>