<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>PetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<main>
    <div class="content">
        <div class="content-left">
            <img src="/images/run-together.webp" alt="cat and dog">
        </div>
        <div class="content-right">
            <h3>Enter your details below: <br><br></h3>

            <div class="group">
                <label for="username" class="text-white font-weight-bold">Username: </label>
                <input placeholder="Username" id="username" type="text" class="input">
            </div>

            <div class="group">
                <label for="email" class="text-white font-weight-bold">Email: </label>
                <input placeholder="Email address" id="email" type="text" class="input">
            </div>

            <div class="group">
                <label for="password" class="text-white font-weight-bold">Password: </label>
                <input placeholder="Password" id="password" type="password" class="input">
            </div>

            <div class="group">
                <label for="confirmPassword" class="text-white font-weight-bold">Confirm password: </label>
                <input id="confirmPassword" placeholder="Confirm Password" type="password" class="input">
            </div>

            <div class="button">
                <button type="submit" class="submit-info" value="Sign Up">Sign Up</button>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>