<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user-info.css">
    <link rel="stylesheet" href="/css/user-bookings.css">
    <title>CozyPetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<div class="heading">
    <h2 th:object="${userData}"
        id="greetings">Welcome back!
    </h2>
    <p th:text="${userData.firstName}"></p>
</div>
<div class="profile-content"
     th:action="@{/bookings/user}"
     th:object="${userData}">
    <aside class="content-left">
        <section class="profile">
            <div class="profile-info">
                <img src="/images/profilePictures/emptyProfilePicture.jpg" alt="empty picture">
                <nav th:replace="~{/fragments/user-nav}"></nav>
            </div>
        </section>
    </aside>
    <aside class="content-right">
        <table class="table-content">
            <h3 class="heading-active">Active Bookings: </h3>
            <thead class="table-header">
            <tr>
                <th class="table-info">Booking number</th>
                <th class="table-info">From</th>
                <th class="table-info">To</th>
                <th class="table-info">Pet type</th>
                <th class="table-info">Pet name</th>
                <th class="table-info">Number of pets</th>
                <th class="table-info">Additional information</th>
                <th class="table-info">Cancel booking</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${myBookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.checkIn}"></td>
                <td th:text="${booking.checkOut}"></td>
                <td th:text="${booking.petType}"></td>
                <td th:text="${booking.petName}"></td>
                <td th:text="${booking.numberOfPets}"></td>
                <td class="requirements" th:text="${booking.additionalInformation}"></td>
                <td>
                    <form th:method="delete"
                          th:action="@{/bookings/user/delete/{id}(id = ${booking.id})}">
                        <input sec:authorize="isAuthenticated()"
                               class="btn btn-link"
                               type="submit"
                               value="Cancel booking"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <small th:if="${myBookings.size() == 0}" class="table-summary">
            No active bookings found.
        </small>

        <table class="table-content expired">
            <h3 class="heading-expired"> Expired Bookings: </h3>
            <thead class="table-header">
            <tr>
                <th class="table-info">Booking number</th>
                <th class="table-info">From</th>
                <th class="table-info">To</th>
                <th class="table-info">Pet type</th>
                <th class="table-info">Pet name</th>
                <th class="table-info">Number of pets</th>
                <th class="table-info">Additional information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expBooking : ${expiredBookings}">
                <td class="inactive" th:text="${expBooking.id}"></td>
                <td class="inactive" th:text="${expBooking.checkIn}"></td>
                <td class="inactive" th:text="${expBooking.checkOut}"></td>
                <td class="inactive" th:text="${expBooking.petType}"></td>
                <td class="inactive" th:text="${expBooking.petName}"></td>
                <td class="inactive" th:text="${expBooking.numberOfPets}"></td>
                <td class="requirements" th:text="${expBooking.additionalInformation}"></td>
            </tr>
            </tbody>
        </table>
        <small th:if="${expiredBookings.size() == 0}" class="table-summary">No bookings found</small>
    </aside>
</div>

<footer th:replace="~{/fragments/footer}"></footer>
<script th:src="@{/js/greetings.js}"></script>
</body>
</html>