<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user-info.css">
    <link rel="stylesheet" href="/css/user-settings.css">
    <title>CozyPetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<div class="heading">
    <h3 th:object="${userData}"
        id="greetings">Welcome back!
    </h3>
    <p th:text="${userData.firstName}"></p>
</div>
<div class="profile-content"
     th:object="${userData}">
    <aside class="content-left">
        <section class="profile"
                 th:action="@{/user/account}">
            <div class="profile-info">
                <img src="/images/profilePictures/emptyProfilePicture.jpg" alt="empty picture">
                <nav th:replace="~{/fragments/user-nav}"></nav>
            </div>
        </section>
    </aside>
    <aside class="content-right">
        <section class="info">
            <div class="info-data">
                <label>First name: </label>
                <small class="info-details" th:text="*{firstName}">user first name</small>
            </div>
            <div class="info-data">
                <label>Last name: </label>
                <small class="info-details" th:text="*{lastName}">user last name</small>
                <button id="lastName-edit-button"
                        type="button"
                        class="edit-button"
                        onclick="toggleEdit('lastName')"
                >Edit
                </button>
                <form id="lastName-edit"
                      th:action="@{/user/update/last-name}"
                      th:method="POST"
                      style="display: none">
                    <input type="text"
                           id="lastName"
                           name="lastName"
                           th:value="${userData.lastName}" required
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('lastName')}"
                             th:text="${err}">
                        </div>
                    </small>
                    <button type="submit"
                            class="save">
                        Save
                    </button>
                    <button type="button"
                            class="cancel"
                            onclick="cancelEdit('lastName')">
                        Cancel
                    </button>
                </form>
            </div>
            <div class="info-data">
                <label>Email: </label>
                <small id="email-view" class="info-details" th:text="*{email}">user email</small>
                <button id="email-edit-button"
                        type="button"
                        class="edit-button"
                        onclick="toggleEdit('email')"
                >Edit
                </button>
                <form id="email-edit"
                      th:action="@{/user/update/email}"
                      th:method="post"
                      style="display: none">
                    <input type="email"
                           id="email"
                           name="email"
                           th:value="${userData.email}" required
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('email')}"
                             th:text="${err}">
                        </div>
                    </small>
                    <button type="submit"
                            class="save">
                        Save
                    </button>
                    <button type="button"
                            class="cancel"
                            onclick="cancelEdit('email')">
                        Cancel
                    </button>
                </form>
            </div>
            <div class="info-data">
                <label>Password: </label>
                <small id="password-view" class="info-details" value="*****"></small>
                <button id="password-edit-button"
                        type="button"
                        class="edit-button"
                        onclick="toggleEdit('password')"
                >Edit
                </button>
                <form id="password-edit"
                      th:action="@{/user/update/password}"
                      th:method="post"
                      style="display: none">
                    <input type="password"
                           id="currentPassword"
                           name="currentPassword"
                           placeholder=" old password"/>
<!--                           th:value="${userData.password}" required/>-->
<!--                           th:errorclass="is-invalid"-->

                    <input type="password"
                           id="newPassword"
                           name="newPassword"
                    placeholder=" new password"/>
<!--                           th:errorclass="is-invalid"-->
<!--                    <small class="invalid-feedback errors alert alert-danger">-->
<!--                        <div th:each="err : ${#fields.errors('password')}"-->
<!--                             th:text="${err}">-->
<!--                        </div>-->
<!--                    </small>-->
                    <button type="submit"
                            class="save">
                        Save
                    </button>
                    <button type="button"
                            class="cancel"
                            onclick="cancelEdit('password')">
                        Cancel
                    </button>
                </form>
            </div>
            <div class="info-data">
                <label>Username: </label>
                <small class="info-details"
                       th:text="*{username}">username</small>
                <button id="username-edit-button"
                        type="button"
                        class="edit-button"
                        onclick="toggleEdit('username')">
                    Edit
                </button>
                <form id="username-edit"
                      th:action="@{/user/update/username}"
                      th:method="post"
                      style="display: none">
                    <input type="text"
                           id="username"
                           name="username"
                           th:value="${userData.username}" required
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('username')}"
                             th:text="${err}">
                        </div>
                    </small>
                    <button type="submit"
                            class="save">
                        Save
                    </button>
                    <button type="button"
                            class="cancel"
                            onclick="cancelEdit('username')">
                        Cancel
                    </button>
                </form>
            </div>
            <div class="info-data">
                <label>Role: </label>
                <small class="info-details" th:each="role : *{roles}">
                    <span th:text="${role.role.name()}"/>
                </small>

            </div>
            <div class="info-data">
                <label>Contact number: </label>
                <small class="info-details" th:text="*{contactNumber}">contact number</small>
                <button id="contactNumber-edit-button"
                        type="button"
                        class="edit-button"
                        onclick="toggleEdit('contactNumber')"
                >Edit
                </button>
                <form id="contactNumber-edit"
                      th:action="@{/user/update/contact-number}"
                      th:method="post"
                      style="display: none">
                    <input type="text"
                           id="contactNumber"
                           name="contactNumber"
                           th:value="${userData.contactNumber}" required
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('contactNumber')}"
                             th:text="${err}">
                        </div>
                    </small>
                    <button type="submit"
                            class="save">
                        Save
                    </button>
                    <button type="button"
                            class="cancel"
                            onclick="cancelEdit('contactNumber')">
                        Cancel
                    </button>
                </form>
            </div>
        </section>
    </aside>
</div>

<footer th:replace="~{/fragments/footer}"></footer>
<script th:src="@{/js/greetings.js}"></script>
<script th:src="@{/js/editProfile.js}"></script>
</body>
</html>