<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/09676a0005.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user-info.css">
    <link rel="stylesheet" href="/css/user-bookings.css">
    <!--    <script th:src="/static/js/greetings.js"></script>-->
    <title>CozyPetsHotel</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar}"></nav>
<div class="heading">
    <h2 th:object="${userData}"
        id="greetings">Welcome back!
    </h2>
    <p th:text="${userData.firstName}"></p>
</div>
<div class="profile-content"
     th:action="@{/user/bookings}"
     th:object="${userData}">
    <aside class="content-left">
        <section class="profile">
            <div class="profile-info">
                <img src="/images/profilePictures/emptyProfilePicture.jpg" alt="empty picture">
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="/user/bookings">My bookings</a>
                        </li>
                        <li>
                            <a href="/user/account">Profile info</a>
                        </li>
                        <li>
                            <a href="/services">Settings</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </aside>
    <aside class="content-right">
        <table class="table-content">
            <h3 class="heading-active">Active Bookings: </h3>
            <thead class="table-header">
            <tr>
                <th class="table-info">Booking number</th>
                <th class="table-info">From</th>
                <th class="table-info">To</th>
                <th class="table-info">Pet type</th>
                <th class="table-info">Pet name</th>
                <th class="table-info">Number of pets</th>
                <th class="table-info">Additional information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : *{activeBookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.checkIn}"></td>
                <td th:text="${booking.checkOut}"></td>
                <td th:text="${booking.petTypeType}"></td>
                <td th:text="${booking.petName}"></td>
                <td th:text="${booking.numberOfPets}"></td>
                <td class="requirements" th:text="${booking.additionalInformation}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table-content expired">
            <h3 class="heading-expired"> Expired Bookings: </h3>
            <thead class="table-header">
            <tr>
                <th class="table-info">Booking number</th>
                <th class="table-info">From</th>
                <th class="table-info">To</th>
                <th class="table-info">Pet type</th>
                <th class="table-info">Pet name</th>
                <th class="table-info">Number of pets</th>
                <th class="table-info">Additional information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : *{expiredBookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.checkIn}"></td>
                <td th:text="${booking.checkOut}"></td>
                <td th:text="${booking.petTypeType}"></td>
                <td th:text="${booking.petName}"></td>
                <td th:text="${booking.numberOfPets}"></td>
                <td class="requirements" th:text="${booking.additionalInformation}"></td>
            </tr>
            </tbody>
        </table>
    </aside>
</div>

<footer th:replace="~{/fragments/footer}"></footer>
<script>
    let myDate = new Date();
    let hrs = myDate.getHours();
    let greeting;

    if (hrs < 12)
        greeting = 'Good Morning, ';
    else if (hrs >= 12 && hrs <= 17)
        greeting = 'Good Afternoon, ';
    else if (hrs >= 17 && hrs <= 24)
        greeting = 'Good Evening, ';

    document.getElementById('greetings').innerHTML = '<strong>' + greeting + '</strong>';
</script>
</body>
</html>